<html>
    <head>
        <title>Projeto valor da compra</title>
    </head>
    <body>
        <h3>Projeto valor da compra</h3>
        <div id="app">
            <span>Insira o valor da compra:</span><br/>
            <input type="number" v-model="valorCompra" /><br/>
            <span>Selecione a moeda:</span><br/>
            <select v-model="moeda">
                <option value="Dólar:" selected>Dólar</option>
                <option value="Euro:">Euro</option>
            </select><br/>
            <span >Selecione a forma de pagamento:</span><br/>
            <select v-model="formaPagamento">
                <option value="0" selected>Cartão</option>
                <option value="1">Dinheiro</option>
            </select>
            <br/><br/>
            <h5>Valores:</h5>
            <span>Real: R$ </span>{{resultadoReal}}</span><br/>
            {{moeda}}&nbsp;{{resultadoMoeda}}</span><br/>
            <span>IOF: </span>{{valorIof}}<br/>
            <span>Valor final (com IOF): {{valorFinalComIof}}
            <br/><br/>
            {{aguardando}}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>